@use "sass:color";
@use "sass:math";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Noto Sans",
  sans-serif;
$font-family-serif: "Noto Serif Display", serif;

$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$mqMinWidth: 420px;

$theme-colors: (
  "primary": #678983
    // pon el código de color que prefieras,,,,,,,,,,,,,,,,,,,,,,,,,
);

$color1: #f0e9d2;
$color2: #e6ddc4;
$color3: #678983;
$color31: rgba(103, 137, 131, 0.6);
$color4: #181d31;
$color41: rgba(24, 24, 49, 0.6);

$card-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
